* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 1rem;
    box-sizing: border-box;
}

html body {
    background-color: #f7f7f9;
    width: 100%;
    height: 100%;
}

/* Scrollbar section */

html::-webkit-scrollbar {
    width: 0.6vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #ff9203;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #f7f7f9;
}


/* Navebar section */


.navebar {
    width: 100%;
    /* border-bottom: 2px solid #00000086; */
    height: 90px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.228);
    background-color: white;

}

.nav-logo {
    background-image: url(Asets/logo-1.webp);
    background-size: cover;
    height: 42px;
    width: 160px;
}


.nav-contant {
    /* color: black; */
    /* border: 2px solid black; */
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-contant a {
    padding: 20px;
    color: black;
    font-size: 1em;
}


.button-box {
    /* height: 40px; */
    /* width: 130px; */
    padding: 13px 13px;
    border: none;
    border-radius: 24px;
    font-size: 0.9em;
    background-color: #ffa42d;
    color: white;
    transition: all 0.5s linear 0.25s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.button-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #523680;
    border-radius: 24px;
    transform: translate(-100%);
    z-index: -1;
    transition: all 0.5s linear;
}

.button-box:hover:before {
    transform: translate(0%);
}


.text-box:hover {
    color: #ffa42d;
}


/* hero-container and section */


.hero-container {
    height: 480px;
    width: 100%;
    /* margin:0px 109px; */
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    /* border: 2px solid #00000086; */
}

.hero-section {
    height: 480px;
    width: 85vw;
    margin: auto;
    /* padding-top: 32px;
    padding-bottom: 64px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid #00000086; */
}


.heroleft-colum {
    width: 670px;
    height: 320px;
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid #00000086; */
}


.hero-welcom {
    font-weight: 700;
    font-size: 23px;
    margin: 32px 0px 0px;
    color: #000000;
}

.hero-Heading {
    width: 630px;
    height: 120px;
    font-size: 1.6rem;
    margin: 2rem 0rem;
    font-weight: 700;
    color: #523680;
}

.hero-button {
    height: 38px;
    width: 146px;
    margin: 16px 0px;

}

.heroright-colum {
    background-image: url(Asets/ceo.webp);
    background-size: cover;
    width: 380px;
    height: 320px;
    padding: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* border: 2px solid #00000086; */
}



/* Foure box line */

.box4 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-box {
    width: 90%;
    height: 80%;
    margin: 0px 109px;
    padding: 0px 12px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-4 {
    width: 261px;
    height: 94px;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 20px;
    padding: 16px 11px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 1s linear;
}

.box-4:hover {
    bottom: 10px;
}

.icon {
    width: 50px;
    height: 40px;
    padding: 0px 16px;
    font-size: 40px;
    color: #4d3183;
}

.boxcontant {
    width: 99x;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-num {
    font-size: 20.8px;
    font-weight: lighter;
    color: black;
    font-weight: bolder;
}

.box-text {
    font-size: 11px;
}


/* contribution-imgs saction */
section {
    width: 100%;
    height: 450px;
    padding: 80px;
    background-color: #ffffff;
}

.contribution-imgs {
    width: 100%;
    height: 300px;
    background-color: #f7f7f9;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right-img {
    height: 90%;
    width: 48%;
    background-image: url(Asets/students1.webp);
    background-size: cover;
    background-color: #4d3183;
}

.left-img {
    height: 90%;
    width: 48%;
    background-image: url(Asets/students.webp);
    background-size: cover;
    background-color: #315b83;
}


/* product-section */

.product-section {
    width: auto;
    height: 140vh;
    padding: 10vh;
    /* border: 2px solid black; */
    background-color: #ffffff;

}

.product-heading h1 {
    font-size: 48px;
    margin: 0 20px 32px;
    color: #523680;
    text-align: center;
}


.product-para p {
    color: #493e46;
    font-size: 16px;
    margin: 0 32px 20px;
}

.product-course {
    /* border: 2px solid black; */
    margin: 0 20px;
    width: auto;
    height: 81%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lite-course {
    width: 30%;
    height: 90%;
    /* border: 2px solid rgb(246, 0, 0); */
    box-shadow: 0px 1px 9px 3px #6262626e;
}

.lite-img {
    width: 100%;
    height: 40%;
    position: relative;
    overflow: hidden;
}

.lite-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    transition: all 0.5s linear;
}

.img-animation:hover {
    transform: scale(1.1, 1.1);
}


.standerd-course {
    width: 33%;
    height: 90%;
    /* border: 2px solid black; */
    box-shadow: 0px 1px 9px 3px #6262626e;
}

.standerd-img {
    width: 100%;
    height: 40%;
    position: relative;
    overflow: hidden;
}

.standerd-img img {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.5s linear;
}

.pro-course {
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */
    box-shadow: 0px 1px 9px 3px #6262626e;
}

.pro-img {
    width: 100%;
    height: 40%;
    position: relative;
    overflow: hidden;
}

.pro-img img {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.5s linear;
}


.product-contant {
    width: 100%;
    height: calc(100% - 35%);
    padding: 10px 20px;
    /* background-color: #315b83; */
}

.p-contant1 {
    height: 30%;
    border-bottom: 2px solid #ffa42d;
}

.peoduct-title {
    height: 55%;
    width: 100%;
    color: #4d3183;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.peoduct-title h4 {
    font-size: 1.7rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.product-detail {
    height: 35%;
    width: 100%;
    /* border: 2px solid rgb(94, 255, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count-timing {
    height: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-count p {
    font-size: 0.95rem;
    font-weight: lighter;
    color: #808080f0;
}

.product-time {
    font-size: 0.95rem;
    font-weight: lighter;
    color: #808080f0;
}

.p-contant2 {
    height: 55%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.p-contant2 ul {
    height: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
    list-style: none;
    line-height: 35px;
}

.p-contant2 li {
    font-size: 1rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
    
    gap: 10px;
}

/* ceo page */

.skillsider-ceo {
    width: 100%;
    height: 150vh;
    background-color: #f7f7f9;
    padding: 100px 0px;
}

.ceo-contant {
    width: 91%;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0 10px;
    /* background-color: #493e46; */
}

.ceo-txt {
    width: 100%;
    height: 35%;
    /* background-color: #523680; */
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #4d3183;
}

.disc {
    width: 60%;
}

.disc p {
    font-size: 0.85rem;
}

.ceo-img {
    width: 100%;
    height: 65%;
    padding: 0 400px;
    margin: 0 20px;
    /* background-color: #ff9203; */
}
.img-contant{
    width: 80%;
    height: 100%;
    padding: 0 20px;
    /* background-color: #ffffff; */
}

.img-div{
    width: 100%;
    height: 55%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    /* background-color: aqua; */
    overflow: hidden;
}

.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 0.5s linear;
}

.img-contant img:hover{
   scale:1.2 1.2;
}


.contant-div{
    /* background-color: rgb(226, 217, 43); */
    height: 25%;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.contant-div h3{
    /* background-color: #4d3183; */
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 400;
}
.contant-div p{
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.ceo-icon{
    width: 100%;
    height: 40%;
    margin-top: 20px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.ceo-icon-0{
    width: 18%;
    height: 100%;
    border-radius:50% ;
    /* border: 2px solid rgb(17, 255, 0); */
    font-size: 1.3rem;
    color: #523680;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s linear;
    z-index: 1;
}
.ceo-icon-0::before{
    content: '';
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color:transparent;
}

.ceo-icon-0:hover:before{
    background-color: #523680;
}

.ceo-icon-0:hover{
    color: white;
}

/* footer section  */

footer{
    width: 100%;
    height: 80vh;
    padding-top: 6rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 14px rgba(128, 128, 128, 0.46);
    /* background-color: #4d3183; */
}

.footer{
    height: 95%;
    /* width: 100%; */
    margin-left:6rem ;
    margin-right:6rem ;
    /* background-color: #b9b9b9; */
}

.footer-contant{
    height: 95%;
    width: 100%;
    padding-bottom : 3rem;
    padding-top : 2rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.46);
    margin: 0px 0rem 1rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.footer-address a img{
    width: 20%;
    height: 8%;
    margin-bottom: 10px;
    margin-left: 10px;
}
.footer-address p{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.footer-icon{
    width: 100%;
    height: 45px;
    /* border: 2px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-animation{
    width: 11%;
    height: 90%;
    /* padding: 8px; */
    /* text-align: center; */
    border-radius:50% ;
    /* border: 2px solid red; */
    font-size: 1.5rem;
    color: #ff9203;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s linear;
}
.icon-animation::before{
    content: '';
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: transparent;
}

.icon-animation:hover:before{
    background-color: #ffa42d;
    
}

.icon-animation:hover{
    color: white;
}

.footer-first-table{
    height: 100%;
    width: 50%;
    padding: 0 10px;
    margin-left: 20px;
    overflow: hidden;
}

.footer-first-table ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
    list-style: none;
}
.footer-first-table span{
    font-size: 1.3rem;
    border-bottom:2px solid #ff9203;
    /* padding-bottom: 15px; */
    /* margin-bottom: 20px; */
}


.footer-first-table li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 10px;
    font-size: 1rem;
    padding-right: 20px;
    transition: all 0.5s linear;
}
.footer-first-table li::before{
    content: '';
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-bottom: 2px solid #ff9203;
    transform: translate(-100%);
    z-index: -1;
    transition: all 0.5s linear;
}
.footer-first-table li:hover:before{
    transform: translate(0%);
    /* border-bottom: 2px solid #ff9203; */
}

.footer-first-table li:hover{
    color: #ff9203;
}

.footer-third-table{
    height: 100%;
    width: 40%;
    padding: 0 30px;
    margin-left: 20px;
    text-align: left;
    display: flex;
    list-style: none;
}
.footer-third-table ul{
    list-style: none;
}
/* .footer-third-table li{
    display: flex;
    gap: 20px;
} */
.footer-third-table span{
    font-size: 1.3rem;
    border-bottom:2px solid #ff9203;
}
.ul-Address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ul-address li{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}



.copyright p{
    text-align: center;
    font-size: 0.8rem;
}